li {
	list-style: none;
}

.headline {
    position: absolute;
    top: 0;
    font-size: xx-large;
    left: 0;
    overflow: hidden;
    font-family: 'Playfair Display', serif;
	padding: 7px;
}

.grid-item {
  margin-bottom: 10px;
}