{% extends "_base_pres.html" %}


{% block content %}

  <body>

    <main role="main">
      <article id="webslides">



        <section class="bg-apple aligncenter">
          <!--.wrap = container (width: 90%) -->
          <div class="wrap">
            <h1><img class="whitelogo" src="../static/images/logos/apple.svg" alt="Apple Logo"></h1>
          </div>
          <!-- .end .wrap -->
        </section>



      </article>
    </main>
    <!--main-->



    <script>
      window.ws = new WebSlides();
    </script>



  </body>


{% endblock %}