{% extends "_base_pres.html" %}


{% block content %}

  <body>

    <main role="main">
      <article id="webslides">



        <!--<section class="aligncenter">-->
          <!--&lt;!&ndash;.wrap = container (width: 90%) &ndash;&gt;-->
          <!--<div class="wrap">-->
              <!--<h1>Post-Brexit Outrage Generator</h1>-->
          <!--</div>-->
          <!--&lt;!&ndash; .end .wrap &ndash;&gt;-->
        <!--</section>-->

        <section class="aligncenter">
          <!--.wrap = container (width: 90%) -->
          <div class="wrap">
              <h1>For years, Britain has been toiling under the spectre of Brexit</h1>
              <iframe src="https://giphy.com/embed/YARUMKaGd8cRG" width="402" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/animation-ghost-spooky-YARUMKaGd8cRG">via GIPHY</a></p>

          </div>
          <!-- .end .wrap -->
        </section>

        <section class="aligncenter">
          <!--.wrap = container (width: 90%) -->
          <div class="wrap">
              <h1>It's the night before The Deadline when...</h1>
          </div>
          <!-- .end .wrap -->
        </section>

        <section class="aligncenter">
          <!--.wrap = container (width: 90%) -->
          <div class="wrap">
              <iframe src="https://giphy.com/embed/33dKMLBBRHuTu" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/share-may-theresamay-33dKMLBBRHuTu">via GIPHY</a></p>

              <h2>"I've made a huge mistake"</h2>
          </div>
          <!-- .end .wrap -->
        </section>

        <!--<section class="aligncenter">-->
          <!--&lt;!&ndash;.wrap = container (width: 90%) &ndash;&gt;-->
          <!--<div class="wrap">-->
              <!--<iframe src="https://giphy.com/embed/IzXmRTmKd0if6" width="480" height="281" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/mrw-meme-grossing-IzXmRTmKd0if6">via GIPHY</a></p>-->
          <!--</div>-->
          <!--&lt;!&ndash; .end .wrap &ndash;&gt;-->
        <!--</section>-->


        <section class="aligncenter">
          <!--.wrap = container (width: 90%) -->
          <div class="wrap">
              <h1>Suddenly The British Public are free!</h1>

              <h2>But what will we complain about now...??</h2>

              <h2>Who can we blame when terrible things happen?</h2>

          </div>
          <!-- .end .wrap -->
        </section>

        <section class="aligncenter">
          <!--.wrap = container (width: 90%) -->
          <div class="wrap">

              <h2>House prices fall?</h2>
              <iframe src="https://giphy.com/embed/ge3bzxucoWTF6" width="480" height="272" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/music-video-loop-ge3bzxucoWTF6">via GIPHY</a></p>

          </div>
          <!-- .end .wrap -->
        </section>
        <section class="aligncenter">
          <!--.wrap = container (width: 90%) -->
          <div class="wrap">

              <h2>The environment is destroyed?</h2>
              <iframe src="https://giphy.com/embed/10aADbYxnJlc9q" width="480" height="361" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/pollution-10aADbYxnJlc9q">via GIPHY</a></p>

          </div>
          <!-- .end .wrap -->
        </section>

        <section class="aligncenter">
          <!--.wrap = container (width: 90%) -->
          <div class="wrap">

              <h2>Your drop your last biscuit in your tea??</h2>
              <iframe src="https://giphy.com/embed/818v2NiQGalIQ" width="480" height="206" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/us-brexit-rw-818v2NiQGalIQ">via GIPHY</a></p>

          </div>
          <!-- .end .wrap -->
        </section>

        <section class="aligncenter">
          <!--.wrap = container (width: 90%) -->
          <div class="wrap">

              <h1>Introducing the Post-Brexit Outrage Generator</h1>

          </div>
          <!-- .end .wrap -->
        </section>

      </article>
    </main>
    <!--main-->



    <script>
      window.ws = new WebSlides();
    </script>



  </body>


{% endblock %}